*{
    margin: 0 ;
    padding: 0;
}
#cuerpo{
   
    background-image: linear-gradient(170deg, #f18f37 0, #f58438 10%, #f8773b 20%, #f9693e 30%, #fa5941 40%, #f94646 50%, #f72e4c 60%, #f50353 70%, #f1005c 80%, #ec0065 90%, #e60070 100%);  
   padding:35px ;
   overflow: hidden;
}  

#contenedor:hover #img {-webkit-transform:scale(1.3);transform:scale(1.3);}
#contenedor {overflow:hidden;}
#header{
   display: block;
   padding-top:0px ;
   text-align: center;
} 
#titulo{
    font-size: 4rem;
    margin: 50px;
    margin-bottom: 90px;
}

#img{
    width: 300px;
    margin-bottom: 50px;
}
p{
    font-size: 1.5rem;
    padding-bottom:50px ;
}

#recuadro{
    width: 1000px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 50px;
    border: rgba(0, 0, 0, 0.76) 3px solid;
    border-radius: 5px;
    height: max-content;
    text-align: center;
    padding-bottom: 56px;
}
#ingreso_nombre{
    width: 300px;
    height: 30px;
    margin-top: 40px;
}
#label{
    
    font-size: 1.4rem;
}
#t_deudor{
margin-top: 80px;
}